{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
    <h1>☣️ Détail d'un stagiaire ☣️</h1>

    <h2>{{ stagiaire }}</h2>
    <h3><u>Infos</u> :</h3>
    <p>
        <ul>
            <li>Ville : {{ stagiaire.ville }}</li><br>
            <li>Âge : {{stagiaire.age}} ans</li><br>
            {# <u>Date de naissance</u> : {{stagiaire.dateNaisFR}}<br> #}
            <li>Email : {{stagiaire.email}}</li><br>
            <li>Tél : {{stagiaire.tel}}</li><br><br>
        </ul>
        
        <h3><u>Inscriptions</u> :</h3>
        <ul>
            {% for session in stagiaire.sessions %}
                <li><u><a href="{{ path('show_session', {'id': session.id})}}">{{session}}</a></u> - <br>
                🕒 {{session.dateDebutFR}} ➔ {{session.dateFinFR}}</li><br>
            {% endfor %}
        </ul>
    </p>

    {# <p>
        <u>Entreprise</u> : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{ employe.entreprise }}</a><br>
        <u>Ville</u> : {% if employe.ville %} {{ employe.ville }}<br> {% else %} Ville non renseignée<br> {% endif %}
        
        gestion de la date par TWIG
        <u>Date de naissance</u> : {{ employe.dateNais | date("d/m/Y") }}<br>
        <u>Age</u> : {{employe.age}} ans<br>
        <u>Date d'embauche</u> : {{ employe.dateEmbauche | date("d/m/Y") }}
    </p> #}
{% endblock %}