{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
    <h1>☣️ Détail d'un stagiaire ☣️</h1><br>

    <h2>{{ stagiaire }}

    <a class="btn btn-warning" href="{{ path('edit_stagiaire', {'id': stagiaire.id})}}">Edit</a>
    {# <a class="btn btn-danger" href="{{ path('delete_stagiaire', {'id': stagiaire.id})}}">Delete</a></h2><br> #}
    <a class="btn btn-danger deleteConfirm">Delete</a></h2><br>
        <dialog class="openModal">
            <div>
                <h4>Êtes-vous sûr.e de vouloir supprimer le stagiaire "{{stagiaire}}" ?</h4>
                <a class="btn btn-success" href="{{ path('delete_stagiaire', {'id': stagiaire.id})}}">Oui</a>
                <a class="btn btn-danger closeModal">Non</a>
            </div>
        </dialog>

    <h3><u>Infos</u> :</h3>
        <ul>
            <li>Ville : {{ stagiaire.ville }}</li><br>
            <li>Âge : {{stagiaire.age}}</li><br>
            {# <u>Date de naissance</u> : {{stagiaire.dateNaisFR}}<br> #}
            <li>Email : {{stagiaire.email}}</li><br>
            <li>Tél : {{stagiaire.tel}}</li><br><br>
        </ul>
        
        <h3><u>Inscriptions</u> :</h3>
        <ul>
            {% for session in stagiaire.sessions| sort((a, b) => a.dateDebut <=> b.dateDebut ) %}
                <li><u><a href="{{ path('show_session', {'id': session.id})}}">{{session}}</a></u> - <br>
                🕒 {{session.dateDebutFR}} ➔ {{session.dateFinFR}}
                
                {% if session.dateFin < date()  %}
                    <span style="color: green">(Terminée)</span>
                {% elseif session.dateDebut <= date()  and session.dateFin >= date() %}
                    <span style="color: #ff4200">(En cours)</span>
                {% else %}
                    <span style="color: red">(À venir)</span>
                {% endif %}</li><br>
            {% endfor %}
        </ul>

        <h3><u>Photo</u> :</h3>
            {% if stagiaire.photo %}
                <img src="/uploads/photos/{{stagiaire.photo}}" alt="traineeProfilePicture" style="width: 250px"><br><br><br>
            {% else %}
                <p>Aucune photo</p>
            {% endif %}
{% endblock %}