{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>☣️ Liste des sessions ☣️</h1><br>

    <a class="btn btn-success" href="{{ path('new_session')}}">Ajouter une session</a><br><br><br>

    <h2 style="color:rgb(213, 73, 22)"><u>En cours</u></h2><br>
    {% for currentSession in currentSessions %}
        <a href="{{ path('show_session', {'id': currentSession.id})}}">{{currentSession}}</a>
        <a class="btn btn-warning" href="{{ path('edit_session', {'id': currentSession.id})}}">Edit</a>
        
        <a class="btn btn-danger deleteConfirm">Delete</a></h2><br>
        <dialog class="openModal">
            <div>
                <h4>Êtes-vous sûr.e de vouloir supprimer la session "{{currentSession}}" ?</h4>
                <a class="btn btn-success" href="{{ path('delete_session', {'id': currentSession.id})}}">Oui</a>
                <a class="btn btn-danger closeModal">Non</a>
            </div>
        </dialog>
        
        #<em>{{currentSession.formation}}</em><br><br>
        <u>Date de début</u> : {{currentSession.dateDebutFR}}<br>
        <u>Date de fin</u> : {{currentSession.dateFinFR}}<br>
        🕒 ➔ {{currentSession.dateInterval}}<br><br>
        <u>Places restantes</u> : <span style="color: green">{{ currentSession.nbRestant }}</span><br><br><br>
    {% endfor %}<br>

    <h2 style="color: rgb(198, 23, 23)"><u>À venir</u></h2><br>
    {% for upComingSession in upComingSessions %}
        <a href="{{ path('show_session', {'id': upComingSession.id})}}">{{upComingSession}}</a>
        <a class="btn btn-warning" href="{{ path('edit_session', {'id': upComingSession.id})}}">Edit</a>

        <a class="btn btn-danger deleteConfirm">Delete</a></h2><br>
        <dialog class="openModal">
            <div>
                <h4>Êtes-vous sûr.e de vouloir supprimer la session "{{upComingSession}}" ?</h4>
                <a class="btn btn-success" href="{{ path('delete_session', {'id': upComingSession.id})}}">Oui</a>
                <a class="btn btn-danger closeModal">Non</a>
            </div>
        </dialog>

        #<em>{{upComingSession.formation}}</em><br><br>
        <u>Date de début</u> : {{upComingSession.dateDebutFR}}<br>
        <u>Date de fin</u> : {{upComingSession.dateFinFR}}<br>
        🕒 ➔ {{upComingSession.dateInterval}}<br><br>
        <u>Places restantes</u> : <span style="color: green">{{ upComingSession.nbRestant }}</span><br><br><br>
    {% endfor %}<br>

    <h2 style="color: rgb(17, 111, 28)"><u>Terminées</u></h2><br>
    {% for pastSession in pastSessions %}
        <a href="{{ path('show_session', {'id': pastSession.id})}}">{{pastSession}}</a>
        <a class="btn btn-warning" href="{{ path('edit_session', {'id': pastSession.id})}}">Edit</a>

        <a class="btn btn-danger deleteConfirm">Delete</a></h2><br>
        <dialog class="openModal">
            <div>
                <h4>Êtes-vous sûr.e de vouloir supprimer la session "{{pastSession}}" ?</h4>
                <a class="btn btn-success" href="{{ path('delete_session', {'id': pastSession.id})}}">Oui</a>
                <a class="btn btn-danger closeModal">Non</a>
            </div>
        </dialog>
        
        #<em>{{pastSession.formation}}</em><br><br>
        <u>Date de début</u> : {{pastSession.dateDebutFR}}<br>
        <u>Date de fin</u> : {{pastSession.dateFinFR}}<br>
        🕒 ➔ {{pastSession.dateInterval}}<br><br><br>
    {% endfor %}
</div>
{% endblock %}
