{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>☣️ Liste des sessions ☣️</h1>
    {% for session in sessions %}
        <a href="{{ path('show_session', {'id': session.id})}}">{{session}}</a><br>
        #<em>{{session.formation}}</em><br><br>
        <u>Date de début</u> : {{session.dateDebutFR}}<br>
        <u>Date de fin</u> : {{session.dateFinFR}}<br><br><br><br><br>
    {% endfor %}
</div>
{% endblock %}
