{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>☣️ Détail d'une session ☣️</h1>

    #<em>{{session.formation}}</em>
    <h2>{{ session }}</h2>
    <h3>Infos :</h3>
    <p>
        <u>Places totales</u> : {{ session.nbPlaces }}<br><br>
        <u>Date de début</u> : {{session.dateDebutFR}}<br>
        <u>Date de fin</u> : {{session.dateFinFR}}<br>
    </p>

    {# <p>
        <u>Entreprise</u> : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{ employe.entreprise }}</a><br>
        <u>Ville</u> : {% if employe.ville %} {{ employe.ville }}<br> {% else %} Ville non renseignée<br> {% endif %}
        
        gestion de la date par TWIG
        <u>Date de naissance</u> : {{ employe.dateNais | date("d/m/Y") }}<br>
        <u>Age</u> : {{employe.age}} ans<br>
        <u>Date d'embauche</u> : {{ employe.dateEmbauche | date("d/m/Y") }}
    </p> #}
{% endblock %}