{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>☣️ Détail d'une session ☣️</h1>

    #<em>{{session.formation}}</em><br><br>
    <h2>{{ session }}

    {% if session.dateFin < date()  %}
        <span style="color: green">(Terminée)</span>
    {% elseif session.dateDebut <= date()  and session.dateFin >= date() %}
        <span style="color: #ff4200">(En cours)</span>
    {% else %}
        <span style="color: red">(À venir)</span>
    {% endif %}
    <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id})}}">Edit</a>
    <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id})}}">Delete</a></h2><br>

    <h3><u>Infos</u> :</h3>
    <p>
        <u>Places totales</u> : {{ session.nbPlaces }}<br><br>
        <u>Date de début</u> : {{session.dateDebutFR}}<br>
        <u>Date de fin</u> : {{session.dateFinFR}}<br>
        🕒 ➔ {{session.dateInterval}} mois<br><br>
        <u>Formateur.ice référent.e</u> : {{session.formateur}}<br><br>

        <h3><u>Programme</u> :</h3>
        <ul>
            {% for programme in session.programmes %}
                <li>{{programme.module}} - <em>*{{programme.module.categorie}}</em><br>
                ➔ {{programme}}j de cours</li><br>
            {% endfor %}
        </ul>
        <h3><u>Inscrit.es</u> :</h3>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li><u><a href="{{ path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a></u> - 📍 {{stagiaire.ville}}</li><br>
            {% endfor %}
        </ul>
    </p>
{% endblock %}