{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
    <h1>☣️ Détail d'une session ☣️</h1>

    #<em>{{session.formation}}</em><br><br>
    <h2>{{ session }}

    {% if session.dateFin < date()  %}
        <span style="color: green">(Terminée)</span>
    {% elseif session.dateDebut <= date()  and session.dateFin >= date() %}
        <span style="color: #ff4200">(En cours)</span>
    {% else %}
        <span style="color: red">(À venir)</span>
    {% endif %}
    <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id})}}">Edit</a>
    <a class="btn btn-danger deleteConfirm">Delete</a></h2><br>
        <dialog class="openModal">
            <div>
                <h4>Êtes-vous sûr.e de vouloir supprimer la session "{{session}}" ?</h4>
                <a class="btn btn-success" href="{{ path('delete_session', {'id': session.id})}}">Oui</a>
                <a class="btn btn-danger closeModal">Non</a>
            </div>
        </dialog>

    <h3><u>Infos</u> :</h3>
    <p>
        <u>Places totales</u> : <span style="color: #ff4200">{{ session.nbPlaces }}</span><br>
        <u>Places restantes</u> : <span style="color: green">{{ session.nbRestant }}</span><br><br>
        <u>Date de début</u> : {{session.dateDebutFR}}<br>
        <u>Date de fin</u> : {{session.dateFinFR}}<br>
        🕒 ➔ {{session.dateInterval}}<br><br>
        <u>Formateur.ice référent.e</u> : {{session.formateur}}<br><br>

        <h3><u>Programme</u><sup style="color: red">({{session.programmes|length}})</sup> :</h3>
        {% if session.programmes|length <=0 %}
            <p>Aucun module programmé</p>
        {% else %}
            <ul>
                {% for programme in session.programmes %}
                    <li>{{programme.module}} - <em>*{{programme.module.categorie}}</em><br>
                    ➔ {{programme}}j de cours</li><br>
                    <a class="btn btn-danger" href="{{ path('deprog_module', {'session': session.id, 'programme': programme.id})}}">Retirer de la session</a></li><br><br>
                {% endfor %}
            </ul>
        {% endif %}
        <h3><u>Modules non-programmés</u><sup style="color: red">({{nonProgs|length}})</sup> :</h3>
        <ul>
            {% for nonProg in nonProgs %}
                <li>{{nonProg}}</a></u> - <em>*{{nonProg.categorie}}</em><br><br>
                <form action="{{ path('prog_module', {'session': session.id, 'module': nonProg.id})}}" method="POST">
                    <input type="submit" class="btn btn-success" value="Ajouter à la session">
                    ➔ <label for="nbJours">Nombre de jours : </label>
                    <input type="number" id="nbJours" name="nbJours" min="1" max="30" size="3" required>
                </form></li><br>
            {% endfor %}
        </ul>
        <h3><u>Inscrit.es</u><sup style="color: red">({{session.stagiaires|length}})</sup> :</h3>
        {% if session.stagiaires|length <=0 %}
            <p>Aucun stagiaire inscrit</p>
        {% else %}
            <ul>
            {% for stagiaire in session.stagiaires %}
                <li><u><a href="{{ path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a></u> - 📍 {{stagiaire.ville}}<br><br>
                <a class="btn btn-danger" href="{{ path('remove_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id})}}">Retirer de la session</a></li><br>
            {% endfor %}
            </ul>
        {% endif %}
        <h3><u>Non-inscrit.es</u><sup style="color: red">({{nonInscrits|length}})</sup> :</h3>
        <ul>
            {% for nonInscrit in nonInscrits %}
                <li><u><a href="{{ path('show_stagiaire', {'id': nonInscrit.id})}}">{{nonInscrit}}</a></u> - 📍 {{nonInscrit.ville}}<br><br>
                <a class="btn btn-success" href="{{ path('add_stagiaire', {'session': session.id, 'stagiaire': nonInscrit.id})}}">Ajouter à la session</a></li><br>
            {% endfor %}
        </ul>
    </p>
{% endblock %}